<%= stylesheet_link_tag "about_us", "data-turbo-track": "reload" %>

<div class="container about" id="about">
  <div class="about-us-img">
    <%= image_tag "about_us.png", alt: "about is image" %>
  </div>
  <div class="about-us-text">
    <h1 class="section-heading">About Sample Sure</h1>
    <p class="section-text">
      SampleSure is a pharma-based platform dedicated to simplifying healthcare by providing at-home blood sample collection and efficient reporting.
      Our mission is to make healthcare more accessible, timely, and reliable for everyone.
    </p>
    <p class="section-text">
      We work with trusted agencies who visit patients’ homes to collect blood samples and upload detailed
      reports directly to our platform. Our user-friendly interface ensures that patients can easily book
      appointments, track their sample collection, and access their reports from anywhere.
    </p>
    <p class="section-text">
      With a focus on convenience, quality, and security, SampleSure is committed to improving healthcare
      services and enhancing patient experience.
    </p>
  </div>
</div>