<%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>

<footer>
  <div class="container footer">
    <div class="footer-logo">
      <%= image_tag "logo.png", alt: "logo" %>
    </div>
    <div class="patient-menu-items-container footer-menu-items">
      <h3 class="footer-menu-items-heading">Patients</h3>
      <div class="patient-menu-items">
        <ul class="footer-menu-item"><a>Schedule an appointment</a></ul>
        <ul class="footer-menu-item"><a>Service Map</a></ul>
      </div>
    </div>
    <div class="company-menu-items-container footer-menu-items">
      <h3 class="footer-menu-items-heading">Company</h3>
      <div class="company-menu-items">
        <ul class="footer-menu-item"><a>About</a></ul>
        <ul class="footer-menu-item"><a>FAQs</a></ul>
        <ul class="footer-menu-item"><a>Privacy Policy</a></ul>
        <ul class="footer-menu-item"><a>Terms and conditions</a></ul>
      </div>
    </div>
    <div class="company-details-container footer-menu-items">
      <h3 class="footer-menu-items-heading">Company</h3>
      <p class="footer-menu-item">Agents: agent@bloodsure.com</p>
      <p class="footer-menu-item">Patients: support@bloodsure.com</p>
      <p class="footer-menu-item">Phone: +91 9988776655</p>
    </div>
  </div>
  <p class="copyright"> Copyright © 2025 Sample Sure. All rights reserved. </p>
</footer>