<%= stylesheet_link_tag "home_banner", "data-turbo-track": "reload" %>

<div class="schedule_an_appointment_banner">
  <p><%= banner_text  %></p>
  <a href="<%= button_link  %>">
    <button><%= button_text  %></button>
  </a>
</div>