<div class="container static-container">
  <h1 class="static-page-heading">Frequently asked question</h1>
  <div class="faq static-page-title-description">
    <p class="static-title">1. What is the blood collection process ?</p>
    <p class="static-description">The blood collection process involves a trained healthcare professional taking a sample of blood through a needle inserted into a vein. The process is quick, safe, and typically takes only a few minutes.</p>
  </div>
  <div class="faq static-page-title-description">
    <p class="static-title">2. How do I schedule an appointment for blood collection ?</p>
    <p class="static-description">You can schedule an appointment by visiting our website and selecting a convenient time and location for the blood collection. You can also call or email us to book an appointment.</p>
  </div>
  <div class="faq static-page-title-description">
    <p class="static-title">3. Do I need to fast before giving blood ?</p>
    <p class="static-description">	In most cases, fasting is not required for routine blood tests. However, if you’re having specific tests, such as cholesterol or glucose, you may need to fast for 8-12 hours beforehand. Please check with your healthcare provider.</p>
  </div>
  <div class="faq static-page-title-description">
    <p class="static-title">4. Is blood donation safe ?</p>
    <p class="static-description">Yes, blood donation is completely safe when done at a licensed and regulated blood donation center. Donors are carefully screened before donation, and the process is closely monitored by healthcare professionals.</p>
  </div>
  <div class="faq static-page-title-description">
    <p class="static-title">5. Who can donate blood ?</p>
    <p class="static-description">Healthy individuals aged 18-65, weighing at least 110 pounds (50 kg), and not having any disqualifying medical conditions can usually donate blood. Specific eligibility criteria may vary, so it’s best to consult with the blood collection center.</p>
  </div>
  <div class="faq static-page-title-description">
    <p class="static-title">6. What should I do before and after donating blood ?</p>
    <p class="static-description">Before donating blood, ensure you are well-hydrated and have eaten a light meal. After donating, rest for a few minutes, and drink fluids to help replenish the lost blood volume. Avoid strenuous activities for a few hours after donation.</p>
  </div>
</div>