<div class="container static-container">
  <h1 class="static-page-heading">Privacy Policy</h1>

  <div class="static-page-description">
    <p>Last Updated: December 2024</p>
    <p>At Sample Sure, we value your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and protect your data when you visit our website or use our services.</p>
  </div>

  <div class="static-page-title-description">
    <p class="static-title">1. Information We Collect</p>
    <ul class="static-description">
      <li><span>• Personal Information : </span>Name, email address, phone number, etc., provided by users during registration, communication, or transactions.</li>
      <li><span>• Usage Data : </span>Information about how you interact with our website, including your IP address, browser type, device, and pages visited.</li>
      <li><span>• Cookies and Tracking : </span>We use cookies and similar technologies to enhance user experience, analyze usage trends, and provide personalized content.</li>
    </ul>
  </div>

  <div class="static-page-title-description">
    <p class="static-title">2. How We Use Your Information</p>
    <ul class="static-description">
      <li>• To provide and improve our services.</li>
      <li>• To communicate with you about your account, bookings, or inquiries.</li>
      <li>• To process payments securely.</li>
    </ul>
  </div>

  <div class="static-page-title-description">
    <p class="static-title">3. How We Protect Your Information</p>
    <ul class="static-description">
      <li>• We implement a variety of security measures, including encryption, firewalls, and access controls, to protect your personal information. However, please note that no method of transmission over the internet is 100% secure.</li>
    </ul>
  </div>

  <div class="static-page-title-description">
    <p class="static-title">4. Your Rights</p>
    <ul class="static-description">
      <li>• Access and update your personal information.</li>
      <li>• Request the deletion of your personal data, subject to legal restrictions.</li>
      <li>• Opt-out of marketing communications at any time.</li>
    </ul>
  </div>

  <div class="static-page-title-description">
    <p class="static-title">5. Data Retention</p>
    <ul class="static-description">
      <li>• We retain your personal information only for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required by law..</li>
    </ul>
  </div>
</div>