@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: #407BFF;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --red-color: #FF0000FF;

    --large-heading: 32px;
    --large-text: 24px;
    --medium-text: 20px;
    --small-text: 16px;
    --extra-small-text: 14px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--black-color);
}

li{
    list-style: none;
}

button{
    border: none;
    outline: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.primary-btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: var(--small-text);
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.delete-btn{
    border: none;
    outline: none;
    background-color: var(--red-color);
    color: var(--white-color);
    font-size: var(--small-text);
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
}


.section-heading{
    font-size: var(--large-heading);
    color: var(--black-color);
}

.section-text{
    text-align: justify;
    font-size: var(--small-text);
    opacity: 0.9;
}