.home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 95vh;
}

.home-bg-image img{
    width: 550px;
}

.home-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}