nav{
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    background-color: var(--white-color);
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar-logo {
    img {
        width: 150px;
        height: auto;
        object-fit: cover;
    }
}

.navbar .user-name a{
    font-size: var(--small-text);
}

.navbar .menu-items {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: var(--small-text);
}