nav{
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    background-color: var(--white-color);
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar-logo {
    img {
        width: 150px;
        height: auto;
        object-fit: cover;
    }
}

.navbar .user-name {
    font-size: var(--small-text);
    cursor: pointer;
}

.navbar .menu-items {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: var(--small-text);
}

.user-menu {
    position: relative;
}

.user-menu-dropdown {
    display: none;
    position: absolute;
    font-size: var(--extra-small-text);
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 10;
    width: 150px;
}

.user-menu-dropdown a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}

.user-menu.show .user-menu-dropdown {
    display: block;
}