.user-form{
    padding-top: 40px;

    .lab-patient-form-heading{
        padding-top: 70px;
        font-size: var(--large-text);
    }
}

.user-details-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-basis: 50%;
    padding: 0 80px;

    h3{
        color: var(--primary-color);
        margin-bottom: 30px;
        font-size: var(--large-text);
    }
}

.user-field-group{
    display: flex;
    gap: 30px;
}
.user-profile-field{
    display: flex;
    flex-direction: column;
    width: 400px;

    label{
        font-size: var(--small-text);
    }
    input,
    select {
        font-size: var(--extra-small-text);
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        margin: 12px 0;
        border: 1px solid var(--black-color);
    }
}

.user-form-image {
    flex-basis: 50%;

    img{
        width: 500px;
    }
}